[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
  }

  [type="file"] + .uploadLabel {
    background: grey;
    border: none;
    border-radius: 10%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    position: absolute;
    

 }

 .uploadLabel {
    position: absolute;
    background: grey;
    border: none;
    border-radius: 10%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    font-weight: 600;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    position: absolute;
  }